## 人口收入普查数据探索

---

本次实验中，你需要运用 Pandas 探索数据，并回答有关 [<i > Adult 数据集</i>](https://archive.ics.uci.edu/ml/datasets/Adult) 的几个问题。Adult 数据集是一个关于人口收入普查的数据集，其包含多个特征，目标值为类别类型。

首先，我们加载并预览该数据集。

In [1]:
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('files/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

DataFrame 前面的列均为特征，最后的 `salary` 为目标值。接下来，你需要自行补充必要的代码来回答相应的挑战问题。

---

**问题:** 数据集中有多少男性和女性？

In [4]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**问题:** 数据集中女性的平均年龄是多少？

In [5]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**问题:** 数据集中德国公民的比例是多少？

In [10]:
float((data['native-country']=='Germany').sum())/data.shape[0]

0.004207487485028101

**问题:** 年收入超过 50K 和低于 50K 人群年龄的平均值和标准差是多少？

In [20]:
columns_to_show = ['age']
data.groupby(by='salary')[columns_to_show].agg([np.mean, np.std])

              age
             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**问题:** 年收入超过 50K 的人群是否都接受过高中以上教育？

In [24]:
data[data['salary'] == '>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**问题:** 使用 `groupby` 和 `describe` 统计不同种族和性别人群的年龄分布数据。

In [25]:
for (race, sex), sub_df in data.groupby(['race', 'sex']):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df['age'].describe())

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**问题:** 统计男性高收入人群中已婚和未婚（包含离婚和分居）人群各自所占数量。

In [49]:
num_single = data[(data['sex'] == 'Male') & (data['salary'] == '>50K') & (data['marital-status'].isin(['Never-married', 'Seperated', 'Divorced']))].shape[0]
num_couple = data[(data['sex'] == 'Male') & (data['salary'] == '>50K')].shape[0] - num_single
print("Num of single: {}\nNum of couple: {}".format(num_single,num_couple))

Num of single: 609
Num of couple: 6053

**问题:** 统计数据集中最长周工作小时数及对应的人数，并计算该群体中收入超过 50K 的比例。

In [38]:
max_load = data['hours-per-week'].max()
print('Max time: {0} hours per week'.format(max_load))

num = data[data['hours-per-week'] == max_load].shape[0]
print('Total number of such hard workers: {}'.format(num))

rich_percent =float(data[(data['hours-per-week'] == max_load) & (data['salary'] == '>50K')].shape[0])/num
print("Percentage of rich among them: {:.2f}%".format(rich_percent*100))

Max time: 99 hours per week
Total number of such hard workers: 85
Percentage of rich among them: 29.41%

**问题:** 计算各国超过和低于 50K 人群各自的平均周工作时长。

In [45]:
for (country, salary), df_sub in data.groupby(['native-country', 'salary']):
    print("People in {} and salary is {}".format(country,salary))
    print("hours per week on average: {}".format(df_sub['hours-per-week'].mean()))

People in ? and salary is <=50K
hours per week on average: 40.16475972540046
People in ? and salary is >50K
hours per week on average: 45.54794520547945
People in Cambodia and salary is <=50K
hours per week on average: 41.416666666666664
People in Cambodia and salary is >50K
hours per week on average: 40.0
People in Canada and salary is <=50K
hours per week on average: 37.91463414634146
People in Canada and salary is >50K
hours per week on average: 45.64102564102564
People in China and salary is <=50K
hours per week on average: 37.38181818181818
People in China and salary is >50K
hours per week on average: 38.9
People in Columbia and salary is <=50K
hours per week on average: 38.68421052631579
People in Columbia and salary is >50K
hours per week on average: 50.0
People in Cuba and salary is <=50K
hours per week on average: 37.98571428571429
People in Cuba and salary is >50K
hours per week on average: 42.44
People in Dominican-Republic and salary is <=50K
hours per week on average: 42.338235294117645
People in Dominican-Republic and salary is >50K
hours per week on average: 47.0
People in Ecuador and salary is <=50K
hours per week on average: 38.041666666666664
People in Ecuador and salary is >50K
hours per week on average: 48.75
People in El-Salvador and salary is <=50K
hours per week on average: 36.03092783505155
People in El-Salvador and salary is >50K
hours per week on average: 45.0
People in England and salary is <=50K
hours per week on average: 40.483333333333334
People in England and salary is >50K
hours per week on average: 44.53333333333333
People in France and salary is <=50K
hours per week on average: 41.05882352941177
People in France and salary is >50K
hours per week on average: 50.75
People in Germany and salary is <=50K
hours per week on average: 39.13978494623656
People in Germany and salary is >50K
hours per week on average: 44.97727272727273
People in Greece and salary is <=50K
hours per week on average: 41.80952380952381
People in Greece and salary is >50K
hours per week on average: 50.625
People in Guatemala and salary is <=50K
hours per week on average: 39.36065573770492
People in Guatemala and salary is >50K
hours per week on average: 36.666666666666664
People in Haiti and salary is <=50K
hours per week on average: 36.325
People in Haiti and salary is >50K
hours per week on average: 42.75
People in Holand-Netherlands and salary is <=50K
hours per week on average: 40.0
People in Honduras and salary is <=50K
hours per week on average: 34.333333333333336
People in Honduras and salary is >50K
hours per week on average: 60.0
People in Hong and salary is <=50K
hours per week on average: 39.142857142857146
People in Hong and salary is >50K
hours per week on average: 45.0
People in Hungary and salary is <=50K
hours per week on average: 31.3
People in Hungary and salary is >50K
hours per week on average: 50.0
People in India and salary is <=50K
hours per week on average: 38.233333333333334
People in India and salary is >50K
hours per week on average: 46.475
People in Iran and salary is <=50K
hours per week on average: 41.44
People in Iran and salary is >50K
hours per week on average: 47.5
People in Ireland and salary is <=50K
hours per week on average: 40.94736842105263
People in Ireland and salary is >50K
hours per week on average: 48.0
People in Italy and salary is <=50K
hours per week on average: 39.625
People in Italy and salary is >50K
hours per week on average: 45.4
People in Jamaica and salary is <=50K
hours per week on average: 38.23943661971831
People in Jamaica and salary is >50K
hours per week on average: 41.1
People in Japan and salary is <=50K
hours per week on average: 41.0
People in Japan and salary is >50K
hours per week on average: 47.958333333333336
People in Laos and salary is <=50K
hours per week on average: 40.375
People in Laos and salary is >50K
hours per week on average: 40.0
People in Mexico and salary is <=50K
hours per week on average: 40.00327868852459
People in Mexico and salary is >50K
hours per week on average: 46.57575757575758
People in Nicaragua and salary is <=50K
hours per week on average: 36.09375
People in Nicaragua and salary is >50K
hours per week on average: 37.5
People in Outlying-US(Guam-USVI-etc) and salary is <=50K
hours per week on average: 41.857142857142854
People in Peru and salary is <=50K
hours per week on average: 35.06896551724138
People in Peru and salary is >50K
hours per week on average: 40.0
People in Philippines and salary is <=50K
hours per week on average: 38.065693430656935
People in Philippines and salary is >50K
hours per week on average: 43.032786885245905
People in Poland and salary is <=50K
hours per week on average: 38.166666666666664
People in Poland and salary is >50K
hours per week on average: 39.0
People in Portugal and salary is <=50K
hours per week on average: 41.93939393939394
People in Portugal and salary is >50K
hours per week on average: 41.5
People in Puerto-Rico and salary is <=50K
hours per week on average: 38.470588235294116
People in Puerto-Rico and salary is >50K
hours per week on average: 39.416666666666664
People in Scotland and salary is <=50K
hours per week on average: 39.44444444444444
People in Scotland and salary is >50K
hours per week on average: 46.666666666666664
People in South and salary is <=50K
hours per week on average: 40.15625
People in South and salary is >50K
hours per week on average: 51.4375
People in Taiwan and salary is <=50K
hours per week on average: 33.774193548387096
People in Taiwan and salary is >50K
hours per week on average: 46.8
People in Thailand and salary is <=50K
hours per week on average: 42.86666666666667
People in Thailand and salary is >50K
hours per week on average: 58.333333333333336
People in Trinadad&Tobago and salary is <=50K
hours per week on average: 37.05882352941177
People in Trinadad&Tobago and salary is >50K
hours per week on average: 40.0
People in United-States and salary is <=50K
hours per week on average: 38.79912723305605
People in United-States and salary is >50K
hours per week on average: 45.50536884674383
People in Vietnam and salary is <=50K
hours per week on average: 37.193548387096776
People in Vietnam and salary is >50K
hours per week on average: 39.2
People in Yugoslavia and salary is <=50K
hours per week on average: 41.6
People in Yugoslavia and salary is >50K
hours per week on average: 49.5